<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="..\static\main.css">
    </head>

    <body>
        <h1> Questions: <br>
            <p>{% for para in text %}
                {{para}}<br><br>
            {% endfor %}</p>
        </h1>
        <form action = "/test" method = "POST">
            <input type = "submit" value = "Get Answers?" class = "button">
        </form>
    </body>
</html>