<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="..\static\main.css">
    </head>

    <body>
        <h1> Answer: {{answer}} </h1>
        <form action = '/polyatomic_answer' method = "POST">
            <p> <input type = "submit" value = "Get Another?" name = "repeat" class = "button"> </p>
            <p> <input type = "submit" value = "Back to home" name = "home" class = "button"> </p>
        </form>
    </body>
</html>